* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body * {
  font-family: 'Inter', sans-serif;
}

section {
  max-width: 200%;
  width: 90%;
  margin: 32px auto; /* Primeiro valor de margin é top e bottom e nas laterais preenchimento automatico */

  display: grid;
  gap: 24px;
  
}

#listatabela {
  max-width: 240%;
  margin: auto;
  width: 90%;
}